.main-box, .main-box-2 {
    box-shadow: 2px 4px 6px 10px rgba(187, 186, 186, 0.205);
    align-content: center;
    align-items: center;
    text-align: center;
}

.main-box {
    min-height: 20vh;
    margin-top: 2vh;
    padding-top: 5vh;
}

.total-cases h3 {
    color: rgb(100, 100, 100);
}
.total-death h3, .secondary-box-iv h2 {
    color: red;
}
.total-recovered h3, .secondary-box-iii h2{
    color: green;
}

.main-box-2 {
    min-height: 40vh;
    margin-top: 2vh;
}

.main-box-2 h3 {
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-bottom: 1px solid rgba(206, 202, 202, 0.404);
}
.main-box-2 h2 {
    padding-top: 1vh;
}
.main-box-2 p {
    margin-bottom: 2vh;
}

.main-box-2 .secondary-box p {
    font-size: 20px;
}
.secondary-box-i h2 {
    color: rgb(64, 64, 224);
}
.secondary-box-ii h2 {
    color: rgb(255, 102, 0);
}

.death {
    background-color: red;
    color: white;
}
.table-row {
    margin-top: 1vh;
}