
    <div class="alert alert-warning my-alert" role="alert">
        Older adults and people who have severe underlying medical conditions like heart or lung disease or diabetes seem to be at higher risk for developing more serious complications from COVID-19 illness.
      </div>


    <div>
        <h3>Watch for symptoms</h3>
        <p>Reported illnesses have ranged from mild symptoms to severe illness and death for confirmed coronavirus disease 2019 (COVID-19) cases.</p>

        <div class="alert alert-light" role="alert">
            <ul>
                <p>These symptoms may appear 2-14 days after exposure (based on the incubation period of MERS-CoV viruses).</p>
                <li>Fever</li>
                <li>Cough</li>
                <li>Shortness of breath</li>
            </ul>
        </div>
    </div>

    <div class="alert alert-primary my-alert" role="alert">
        <h3>When to Seek Medical Attention</h3>
        <ul>
            <p>If you develop any of these emergency warning signs* for COVID-19 get medical attention immediately:</p>
            <li>Trouble breathing</li>
            <li>Persistent pain or pressure in the chest</li>
            <li>New confusion or inability to arouse</li>
            <li>Bluish lips or face</li>
            <p>*This list is not all inclusive. Please consult your medical provider for any other symptoms that are severe or concerning to you.</p>

        </ul>
        <p>Call 911 if you have a medical emergency: Notify the operator that you have, or think you might have, COVID-19. If possible, put on a cloth face covering before medical help arrives.</p>
    </div>

    <div class="gotolink">
        <a href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html" target="_/blank">For more information please visit <strong>Center for Disease Control and Prevention Center</strong></a>
    </div>
</div>