
body {
    background-color: white;
}
.my-container {
    margin-left: 5%;
    margin-right: 5%;
}
.mycolumn {
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    padding: 10px 15px 10px 15px;
    margin: 0px 15px 30px 15px;    
    align-items: center;
}
.mycolumn div {
    padding: 5px 10px 5px 10px;
}
.mycolumn div label{
    color: teal;
}
.mycolumn div * {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}

.mycolumn .death {
    color: white;
    background-color: red;
}
.mycolumn .death label, .mycolumn .recovered label, .mycolumn .critical label {
    color: white;
}

.mycolumn .recovered {
    color: white;
    background-color: green;
}

.mycolumn .critical {
    color: white;
    background-color: rgba(255, 136, 0, 0.733);
}

h2 {
    color: rgb(138, 24, 24);
    padding: 0 0 10px 0;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    
}

